ROADIES/
parental_spp_genomes/
mb_downloads/
01_QC/
02_filtering/
03_hifiasm_assembly/
04_parental_assignment/
05_organelle_genomes/
06_1_hifiasm_assemblies/
06_2_parental_kmer_checks/
06_3_roadies/

#plots to keep
!01_QC/01_NanoPlot_Raw/LengthvsQualityScatterPlot_kde.png